body {
  /* background-color: black; */
}

.game {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.colors {
  height: 15em;
  width: 15em;
  cursor: pointer;
  transition-duration: 0.4s;
}

.colors:after {
  content: "";
  background: white;
  opacity: 0;
  transition: all 0.8s;
}

.colors:active:after {
  opacity: 1;
  transition: 0s;
}

.greenBtn {
  background-color: green;
  border-top-left-radius: 5em;
}

.yellowBtn {
  background-color: yellow;
  border-bottom-left-radius: 5em;
}

.blueBtn {
  background-color: blue;
  border-bottom-right-radius: 5em;
}

.redBtn {
  background-color: red;
  border-top-right-radius: 5em;
}

.light-up {
  background-color: white;
}

.start {
}
