body {
  background-color: white;
}

.game {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: white;
  text-align: center;
}

.btn {
  height: 15em;
  width: 15em;
  cursor: pointer;
  transition-duration: 0.5s;
}

#greenBtn {
  background-color: darkgreen;
  border-top-left-radius: 5em;
}

#yellowBtn {
  background-color: darkgoldenrod;
  border-bottom-left-radius: 5em;
}

#blueBtn {
  background-color: darkblue;
  border-bottom-right-radius: 5em;
}

#redBtn {
  background-color: darkred;
  border-top-right-radius: 5em;
}

.light-up {
  background-color: white;
}

.startButton {
  background-color: white;
}
