body {
  background-color: ;
}

.game {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.colors {
  height: 15em;
  width: 15em;
}

.greenBtn {
  background-color: green;
  border-top-left-radius: 5em;
}

.yellowBtn {
  background-color: yellow;
  border-bottom-left-radius: 5em;
}

.blueBtn {
  background-color: blue;
  border-bottom-right-radius: 5em;
}

.redBtn {
  background-color: red;
  border-top-right-radius: 5em;
}

.light-up {
  background-color: white;
}

.start {
}
